img {
    /* width: 30%; */
    margin: 3px;
}

.gif-holder {
    display: inline-block;
}

button {
    margin-right: 5px;
    margin-bottom: 5px;
}
#show-input {
    margin-bottom: 5px;
    display: inline-block;
}